.fadeIn
  animation-name: fadeIn
  animation-fill-mode: both
  animation-duration: 1s
  animation-iteration-count: 1

.pulse
  animation-name: pulse
  animation-duration: 2s
  animation-iteration-count: infinite

.pulse-delay
  animation-delay: 1s

.idea-animate
  animation-name: idea-animate
  animation-fill-mode: both
  animation-duration: 1.5s
  animation-iteration-count: infinite
  animation-direction: alternate
  animation-timing-function: ease-in-out

.idea-delay-1
  animation-delay: 0.3s

.idea-delay-2
  animation-delay: 0.6s

.idea-delay-3
  animation-delay: 0.9s

.idea-delay-4
  animation-delay: 1.2s

.idea-delay-5
  animation-delay: 1.5s

.us-animate
  animation-name: us-animate
  animation-duration: 3s
  animation-iteration-count: infinite
  animation-direction: alternate
  animation-timing-function: ease-in-out

.zoomIn
  animation-name: zoomIn
  animation-duration: 1s
  animation-iteration-count: 1
  animation-timing-function: ease-in-out

.bounce
  animation-name: bounce
  animation-duration: 1s
  animation-iteration-count: 1
  transform-origin: center bottom

.rotating
  animation-name: rotating
  animation-duration: 1s
  animation-timing-function: linear
  animation-iteration-count: infinite

@keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1

@keyframes pulse
  from
    transform: scale3d(1, 1, 1)

  50%
    transform: scale3d(1.02, 1.02, 1.02)

  to
    transform: scale3d(1, 1, 1)

@keyframes idea-animate
  from
    opacity: 0.5
    transform: scale3d(1, 1, 1)

  to
    opacity: 1
    transform: scale3d(1.01, 1.01, 1.01)

@keyframes us-animate
  from
    filter: brightness(1)

  80%
    filter: brightness(1)

  to
    filter: brightness(1.1)

@keyframes zoomIn
  from
    opacity: 0
    transform: scale3d(.3, .3, .3)

  50%
    opacity: 1

@keyframes bounce
  from, 20%, 53%, 80%, to
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    transform: translate3d(0,0,0)

  40%, 43%
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
    transform: translate3d(0, -30px, 0)

  70%
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
    transform: translate3d(0, -15px, 0)

  90%
    transform: translate3d(0,-4px,0)

@keyframes rotating
  from
    background-color: $verde2
    transform: rotate(20deg) translateY(-85%) translateX(0%)

  16%
    background-color: $verde2

  17%
    background-color: $verde3

  32%
    background-color: $verde3

  33%
    background-color: $verde4

  49%
    background-color: $verde4

  50%
    background-color: $verde3

  66%
    background-color: $verde3

  67%
    background-color: $verde2

  82%
    background-color: $verde2

  83%
    background-color: $verde1

  99%
    background-color: $verde1

  to
    background-color: $verde2
    transform: rotate(380deg) translateY(-85%) translateX(0%)
