#home
  position: relative
  text-align: center
  padding: 50px 0px

  .idea
  .us
  .result
    display: inline-block
    padding: 5%
    width: 100%

    .box-img
      position: relative
      width: 100%

      img
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0

  .idea-box-text
  .us-box-text
  .result-box-text
    margin-bottom: 30px

    h3
      margin: 0
      color: $white
      font-size: 3em

  .btn-down

    i
      position: absolute
      transform: translateY(-50%) translateX(-50%)
      font-size: 2em

      &:first-child
        margin-top: 10px

      &:last-child
        margin-top: 20px
