#home
  padding: 50px 0px
  text-align: center

  .idea
  .us
  .result
    display: inline-block
    padding: 5%
    margin-bottom: 30px
    width: 100%

    .box-img
      position: relative
      width: 100%

      img
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0

        &.img-text

          padding-top: 10%
