/* Base styles: opinionated defaults */

html
  color: #222
  font-size: 1em
  line-height: 1.4

::selection
  background-color: #5CD7FF
  text-shadow: none

::-moz-selection
  background-color: #5CD7FF
  text-shadow: none

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */

audio
canvas
iframe
img
svg
video
  vertical-align: middle

/* Remove default fieldset styles */

fieldset
  border: 0
  margin: 0
  padding: 0

/* Allow only vertical resizing of textareas */

textarea
  resize: vertical

/* Browser Upgrade Prompt */

.browserupgrade
  margin: 0.2em 0
  background: $gray80
  color: $black
  padding: 0.2em 0

.hidden
  display: none !important

body
  background-color: #435a6b//rgba($verde1, 0.05)
  font-family: $font

.container
  background-color: $white

form

  .form-input
    text-align: left
    position: relative
    margin-bottom: 18px

    input[type="text"]
    textarea
      padding: 12px 16px
      font-size: 16px
      border: none
      width: 100%
      color: $black
      font-family: $font
      font-weight: 400
      background-color: $white
      border-radius: 2px
      transition: all 0.3s

      &:hover
      &:focus
        outline: none
        border-color: $verde4

    label
      cursor: text
      position: absolute
      left: 8px
      top: 8px
      color: $black
      font-size: 16px
      display: inline-block
      opacity: 1
      padding: 4px 10px
      font-weight: 400
      background-color: $white
      pointer-events: none
      transition: opacity 0.5s

      &.label-animate
        opacity: 0

.square-bracket
  position: relative

  &:before
    border: 2px solid $verde4
    border-right: none
    content: ''
    height: 100%
    left: 0
    opacity: 0.5
    position: absolute
    top: 0
    transition: opacity 1s
    width: 5px

  &:after
    border: 2px solid $verde4
    border-left: none
    content: ''
    height: 100%
    right: 0
    opacity: 0.5
    position: absolute
    top: 0
    transition: opacity 1s, border-color 0.3s
    width: 5px

  &.square-animate

    input[type="text"]
    textarea
      background-color rgba($verde1, 0.1)

    &:before
    &:after
      opacity: 1

  &.square-error

    input[type="text"]
    textarea
      background-color rgba($danger-bgc, 0.2)

    &:before
    &:after
      border-color: $danger-bgc
      opacity: 1

.ta-right
  text-align: right
